# dataset
dataset*/
extra_dataset/

# models
runs/
weights/
*.pt
*.onnx

# AI tools
Real-ESRGAN/

# python
venv/
__pycache__/
*.pyc

# database
*.db

# images
*.jpg
*.png

# editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db